@import "modal.style";

// app global css in SCSS form
.page-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.q-avatar{
  background-color: rgba(51, 51, 51, 0.25);
}
.q-avatar img:not(.q-icon):not(.q-img__image){
  object-fit: cover;
}
.q-img{
  height: 100%;
}
//
//body {
//  min-height: 100vh;
//
//  #q-app {
//    min-height: 100vh;
//  }
//}
