@import "modal.style";

// app global css in SCSS form
.page-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
//
//body {
//  min-height: 100vh;
//
//  #q-app {
//    min-height: 100vh;
//  }
//}
